# --- IGNORAR CARPETAS GIGANTES DE DEPENDENCIAS ---
**/node_modules
**/dist
**/build
**/out
**/coverage

# --- IGNORAR ARCHIVOS DE SISTEMA Y GIT ---
.git
.gitignore
.DS_Store


# --- IGNORAR CARPETAS ESPECÍFICAS DE SERVICIOS CRUZADOS ---
# Cuando construyes frontend, no quieres enviar archivos pesados del backend o IA

# Cache de Next.js
frontend/.next

# Cache de Python
ai-service/__pycache__
ai-service/.venv
ai-service/venv
**/*.pyc

# Binarios de Go
backend/bin
backend/**/*.exe
backend/**/*.test

# Base de datos local
backend/BD/*.sql # Opcional si son muy grandes, pero necesarios para init