# Binarios y compilados
bin/
build/
dist/
*.exe
*.test
*.out
*.dll
*.so
*.dylib

# Dependencias (Go descarga las suyas dentro del contenedor)
vendor/
go.work

# Logs y Temporales
*.log
logs/
tmp/
temp/

# Entorno y Sistema
.env
.env.*
.DS_Store
.git
.gitignore
.vscode/
.idea/

# No ignorar main.go ni archivos fuente .go
!main.go